body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 60%;
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #3d68b1;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
    text-align: justify;
    text-align: center;
}

h2 {
    font-size: 22px;
    color: #f5a623;
    margin-top: 20px;
    font-weight: bold;
}

a.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #3d68b1;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

a.btn:hover {
    background-color: #345795;
}
